/* for website name */
#carwiki {
    color:blue;
    text-align: center;
    font-size: 100px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
}
/* for carhead */
#carhead {
    font-size: 45px;
    font-family: 'Helvetica';
    font-weight: bold;
}
.carname {
    font-family: "Changa", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}
p {
    font-family: 'arial';
    text-align: justify;
    color: white;
}
li {
    font-family: 'Arial';
    text-align: justify;
    color: white;
}
h2 {
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* cars */
#spyder {
    color: limegreen;
    font-size: 50px;
    font-family: 'Trebuchet MS';
    text-align: center;
} 
#mclaren {
    color: orangered;
    font-size: 50px;
    font-family: 'Trebuchet MS';
    text-align: center;
}
#ferrari {
    color:red;
    font-size: 50px;
    font-family: 'Trebuchet MS';
    text-align: center;
}
#martin {
    color: goldenrod;
    font-size: 50px;
    font-family: 'Times New Roman';
    text-align: center;
}
#benz{
    color: royalblue;
    font-size: 50px;
    font-family: 'Times New Roman';
    text-align: center;
}
div {
    width: 60%;
    margin-left: 20%;
}
img {
    width: 100%;
}
* {
    background-color: black;
}