/* for website name */
#carwiki {
    color:blue;
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;   
}
#carwiki:hover {
    color: red;
}
/* for list of cars */
.carname {
    font-family: "Changa", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}
p {
    font-family: 'arial';
    text-align: justify;
    color: white;
}
li {
    font-family: 'Arial';
    text-align: justify;
    color: white;
}
h2 {
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
    font-weight: bold;
    color: white;
}
a:hover {
    color: yellow;
}
div {
    width: 60%;
    margin-left: 20%;
}
img {
    width: 100%;
}
* {
    background-color: black;
}
/* cars names */
#spyder {
    color: limegreen;
    font-size: 50px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
    text-align: center;
} 
#mclaren {
    color: orangered;
    font-size: 50px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
    text-align: center;
}
#ferrari {
    color:red;
    font-size: 50px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
    text-align: center;
}
#martin {
    color: goldenrod;
    font-size: 50px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
    text-align: center;
}
#benz{
    color: royalblue;
    font-size: 50px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
    text-align: center;
}
/* car content */
.porsche {
    color: lime;
}
.mclaren {
    color: orangered;
}
.ferrari {
    color:red; 
}
.martin {
    color: goldenrod;
}
.benz {
    color: royalblue;
}
/* porsche gallery */
.pinterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.pinterior:hover {
    content: url(pgallery/pinterior.jpg);
}
.pexterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.pexterior:hover {
    content: url(pgallery/pexterior.jpg);
}
.pfront {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.pfront:hover {
    content: url(pgallery/pfront.jpg);
}
.pback{
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.pback:hover {
    content: url(pgallery/pback.jpg);
}
/* mclaren gallery */
.minterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.minterior:hover {
    content: url(mgallery/minterior.jpg);
}
.mexterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mexterior:hover {
    content: url(mgallery/mexterior.jpg);
}
.mfront {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mfront:hover {
    content: url(mgallery/mfront.jpg);
}
.mback {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mback:hover {
    content: url(mgallery/mback.jpg);
}
/* ferrari gallery */
.finterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.finterior:hover {
    content: url(fgallery/finterior.jpg);
}
.fexterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.fexterior:hover {
    content: url(fgallery/fexterior.jpg);
}
.ffront {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.ffront:hover {
    content: url(fgallery/ffront.jpg);
}
.fback {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.fback:hover {
    content: url(fgallery/fback.jpg);
}
/* aston gallery */
.aminterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.aminterior:hover {
    content: url(amgallery/aminterior.jpg);
}
.amexterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.amexterior:hover {
    content: url(amgallery/amexterior.jpg);
}
.amfront {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.amfront:hover {
    content: url(amgallery/amfront.jpg);
}
.amback {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.amback:hover {
    content: url(amgallery/amback.jpg);
}
/* mercedes gallery */
.mbinterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mbinterior:hover {
    content: url(mbgallery/mbinterior.jpg);
}
.mbexterior {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mbexterior:hover {
    content: url(mbgallery/mbexterior.jpg);
}
.mbfront {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mbfront:hover {
    content: url(mbgallery/mbfront.jpg);
}
.mbback {
    display: inline-block;
    width: 500px;
    height: 350px;
    margin: 70px;
}
.mbback:hover {
    content: url(mbgallery/mbback.jpg);
}